@media screen and (max-width: 992px){
    .gl-home3-header {
    position: absolute;
    top: unset;
    width: 100%;
    z-index: 123;
    }
    .gl-homepage3-content{
    	height: 70vh;
    }
    .gl-home-content-parent{
    	height: 70vh;
    }
    .gl-home-cntent-image{
    	display: none;
    }
    .hotspot-two{
    	display: none;
    }
    .hotspot{
    	display: none;
    }
    .hotspot-div-two{
    	display: none;
    }
    .gl-about-list-parent {
    justify-content: center;
    }
    .new-heading-para{
    	padding: 30px 30px;
    	margin-bottom: 20px;
    }
    .new-heading-para h2{
    	margin-bottom: 20px;
    }
    .new-heading-para p{
    	margin-bottom: 20px;
    }
    .parent-new{
    	margin-top: 30px;
    }
}