@media screen and (max-width: 992px){
    #cursor {
 display: none;
}
    .navbar-nav{
        background-color: white;
    }
    .gl-home3-header {
        position: absolute;
        top: unset;
        width: 100%;
        z-index: 123;
    }
    .gl-homepage3-content{
    	height: 70vh;
    }
    .gl-home-content-parent{
    	height: 70vh;
    }
    .gl-home-cntent-image{
    	display: none;
    }
    .hotspot-two{
    	display: none;
    }
    .hotspot{
    	display: none;
    }
    .hotspot-div-two{
    	display: none;
    }
    .gl-about-list-parent {
        justify-content: center;
    }
    .new-heading-para{
    	padding: 30px 30px;
    	margin-bottom: 20px;
    }
    .new-heading-para h2{
    	margin-bottom: 20px;
    }
    .new-heading-para p{
    	margin-bottom: 20px;
    }
    .parent-new{
    	margin-top: 30px;
    }
    .image-part-one img {
        max-width: 170px;
    }
    .image-part img {
        max-width: 220px;
    }
    .image-part {
        bottom: 0px;
    }
    .gl-brand-heading {
        padding: 30px 80px;
        margin-top: 20px;
    }
    .choose-para h4 {
        font-size: 20px;
    }
    .gl-footer-input-two button {
        right: 15px;
    }
    .navbar-brand {
        width: 19%;
    }
    .gl-partner-heading h1{
        font-size: 35px;
    }
    .gl-dropdown{
        display: none;
    }
    .gl-suit {
        padding: 90px 0px 90px 0px;
    }
    .gl-suit-part-two img {
        max-width: 200px;
    }
    .gl-suit-part-two {
        top: 0px;
    }
    .gl-suit-part img {
        max-width: 170px;
    }
    .gl-pants-para h1{
        font-size: 30px;
    }
    .gl-suit-para h1{
        font-size: 30px;
    }
    .gl-brand{
        padding: 90px 0px;
    }
    .acess-img-content h3 {
        font-size: 25px;
    }
    .acess-img-content h3:after {
        width: 130px;
    }
    .choose-homepage{
        margin-bottom: 0px;
    }
    .new-heading-para h2{
        font-size: 30px;
    }
    .gl-brand-para h2{
        font-size: 30px;
    }
    .gl-footer-input-two input {
        width: 100% !important;
    } 

    /*product page*/

    .gl-productu-nav{
        padding: 0px 0px 90px 0px;
    }
    .gl-img-content {
        bottom: 20px;
    }
    .gl-img-content h2{
        font-size: 20px;
    }
    /*product bdetail*/

    .gl-sub-shirt-img{
        margin-bottom: 60px;
    }
    .reviews-button .tablink{
        width: 18%;
    }
    .card .carousel-item {
        min-height: 360px;
    }

    /*fabric.html;*/
    .gl-shirt-design-preview {
        position: relative;
        padding: 120px 70px;
    }
    .gl-fabric-footer-sec {
        width: 100%;
        z-index: 999;
    }
    .gl-select-shirt-sec {
        background-color: #F9F9F9;
        padding: 60px 40px 90px 40px;
    }

    /*standard styles*/

    .fixed-carasoul-design{
        position: relative;
        padding: 90px 15px 120px;
    }
    .conform-order-form input{
        width: 80%;
    }
    .gl-productu-slider-button button{
        width: 150px;
    }
    .product-customize-section{
        /*margin-bottom: 30px;*/
    }
    .login-popup {
        width: 70%;
    }
    .social-media-twitter{
        margin-bottom: 30px;
    }
    .social-media-facebook{
        margin-bottom: 30px;
    }
    .social-media-google{
        margin-bottom: 30px;
    }
    .social-media-twitter a{
     width: 100% !important;
 }
 .column-reverse-design{
    flex-direction: column-reverse;
 }

 /*homepage 1*/
 .gl-moda-div{
    padding: 60px 0px;
 }
 .gl-content-img {
    padding-left: 70px;
 }
 .gl-img-content h2:before{
    width: 90px;
 }
 .gl-about-dropdown{
    display: none;
 }
 .gl-shop-column {
    top: 21%;
  }
  .gl-offer-heading h1:before {
    left: 85px;
   }
    .login-popup-three{
        overflow: scroll;
        height: 100%;
    }
    .cart-popup-shirt{
        margin-bottom: 30px;
    }
    .chart-shirt-content{
        margin-bottom: 30px;
    }
    .chart-table{
        margin-bottom: 30px;
    }
    .login-popup-three .size-chart{
        padding-bottom: 100px;
    }

    /*home page 2*/

    .gl-sub-header-input{
        display: none;
    }
    .gl-more-item-div-res{
        margin-bottom: 30px;
    }
    .gl-pants{
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 768px){
    .gl-sub-footer-cards{
        margin-bottom: 40px;
    }
    .gl-suit-div{
        margin-bottom: 80px;
    }
    .gl-pants-div{
        margin-top: 30px;
    }
    .gl-pants-homepage3{
        padding-bottom: 0px;
    }
    .gl-acess-img{
        margin-bottom: 30px;
    }
    .acess-img-content {
        bottom: 25px;
    }
    .Choose-box{
        margin-bottom: 30px;
    }
    .Choose-box::last-child{
        margin-bottom: 0px;
    }
    .choose-homepage{
        padding-bottom: 90px;
    }
    .choose-row{
        margin-bottom: 0px;
    }
    .gl-need-homepage3 {
        padding-top: 0px !important;
        padding-bottom: 0px;
    }
    .gl-need-homepage3{
        background-image: none;
    }
    .gl-need-div{
        bottom: 0;
    }
    .gl-footer-input-two input{
        width: 100% !important;
    }
    .gl-footer-input-two button {
        right: 16px;
    }
    .gl-footer-div {
        margin-top: 30px;
    }
    .gl-sub-footer-para{
        text-align: center;
    }
    .gl-sub-footer-cards{
        text-align: center;
        padding-top: 0px;
    }
    .header-icon{
        display: none;
    }
    .footer-img span img {
        width: 40%;
    }

    /*product detail*/

    .reviews-button .tablink{
        width: 25%;
    }
    .gl-shirt-size-name{
        margin-bottom: 20px;
    }
    .gl-sub-img-parts{
        margin-bottom: 30px;
    }
    /*.suit-button{
        width: 100%;
        }*/
        .carousel-control-prev {
            top: 102%;
        }
        .carousel-control-next {
            top: 102%;
        }
        .gl-shirt-vector-image{
            margin-bottom: 30px;
        }
        .style-input select {
            width: 45%;
        }

        /*amert-size*/

        .gl-pickup-item {
            text-align: left !important;
        }
        .table-detail{
            overflow-x: auto;
        }
        .table-detail select{
            width: 135px;
        }

        /*cart page*/

        .position-fixed-design{
            position: relative;
        }
        .gl-home3-about-list{
            text-align: center;
        }
        .order-summary-table{
            overflow-x: auto;
        }
        .order-summary-table table tbody tr td{
            width: 40%;
        }
        .account-sizes{
            overflow-x: auto;
        }
        .tab{
            margin-bottom: 30px;
        }
        .perfume-image{
            height: 265px !important;
            object-fit: cover;
        }
        .acess-row{
            margin-bottom: 0px !important;
        }
        .gl-acess-img-res{
            margin-bottom: 0px !important;
        }
        .about-us-para {
            margin-bottom: 30px;
        }
        .gl-suit-para{
            transform: none;
            top: 0;
        }
        .gl-aboutus-modal-img img{
            margin-bottom: 30px;
        }
        .gl-team-div{
            margin-bottom: 30px;
        }
        .team-row{
            margin-bottom: 0px;
        }
        .gl-team-div-res{
            margin-bottom: 0px;
        }
        .blog-parent{
            margin-bottom: 30px;
        }
        /*fabric-popup*/
        .popup-location-parent{
            display: flex;
            flex-direction: column;
            padding: 20px 0px;
        }
        .popup-location{
            width: 100%;
        }

        /*homepage*/

        .gl-browse-button{
            text-align: left;
            margin-bottom: 40px;
        }
        .gl-product-button {
            margin-bottom: 15px;
        }
        .gl-browse-button button {
            padding: 5px 10px;
        }
        .gl-column-last{
            margin-bottom: 30px;
        }
        .gl-brand{
            padding-top: 0px;
        }
        .gl-shop-column {
            top: 38%;
        }
        .gl-shop-div h1:before{
            left: 60px;
        }
        .gl-count-img {
            height: 20%;
        }
        .gl-count-img-two {
            height: 20%;
        }
        .gl-partner{
            padding: 90px 0px;
        }
        .gl-blog-div {
            padding: 35px 0px;
        }
        .gl-blog-div-row{
            margin-bottom: 30px;
        }
        .last-blog-parent{
            margin-bottom: 0PX !important;
        }
        .login-popup-two {
            width: 60% !important;
             height: auto !important;
            margin-top: 40px !important;
            margin-bottom: 30px;
        }

        /*home page 2*/

        .gl-content-fly{
            display: none;
        }
        .gl-affix-heding{
            margin-bottom: 60px;
        }
        .gl-affix-para{
            padding-left: 40px;
        }
        .gl-affix-div{
            padding-left: 40px;
        }
        .gl-testimonial-heading h1:before {
            left: 185px;
        }
        .gl-testimonial-heading h1{
            padding-bottom: 35px;
        }
        .gl-testimonial{
            padding-bottom:  90px;
        }
        .gl-sub-shirt-img{
            display: none;
        }
        .gl-shirt-img-div{
            margin-bottom: 30px;
        }
        .res-design-p{
            display: none;
        }
        .gl-main-custom-img {
             min-height: 450px;
       }
    }

    @media screen and (max-width: 576px){
       .gl-brand-div-parent{
        display: block;
    }
    .gl-partner-heading h1 {
        font-size: 30px;
    }
    .gl-need-para h1{
        font-size: 30px;
    }
    .gl-home3-about-list{
        text-align: center;
    }
    .navbar{
        padding: 9px 15px;
    }
    .gl-homepage3-content {
        height: 50vh;
    }
    .gl-home-content-parent {
        height: 50vh;
    }
    .gl-home-content h3 {
        font-size: 30px;
    }
    .navbar-brand img {
        width: 130px;
    }
    .slick-slide img{
        width: 80px;
    }

    /*fabric page*/

    .gl-select-buttons {
        display: inline-block;
    }
    .gl-serach-div{
        display: inherit;
        width: 41px;
    }
    .dropdown{
        margin-bottom: 20px;
    }
    .gl-select-buttons .dropdown button {
        width: 125px;
    }
    .gl-shirt-design-preview {
        padding: 120px 0px;
    }
    .gal-tabs a.nxt {
        width: 80px;
    }
    .gal-tabs a.prv {
        width: 80px;
    }
    .gal-tabs a {
        margin: 0 5px;
    }
    .style-input select {
        width: 100%;
        margin-bottom: 30px;
    }

    /*standard style*/

    .waste-measure input{
        width: 100%;
        margin-bottom: 20px;
    }

    /*cart page*/

    .conform-order-form input{
        width: 80%;
    }
    .back-page h5{
        width: 100%;
        margin-top: 20px;
    }
    .back-page{
        display: flex;
        flex-direction: column-reverse;
    }
    .back-page span{
        width: 100%;
    }
    .back-page span a{
        width: 100%;
    }
    .separate-sec-input-two{
        display: block;
    }
    .separate-sec-input-two form{
        width: 100%;
    }
    .zip-code{
        width: 100% !important;
    }
    .shipping-sec{
        overflow-x: auto;
    }
    .shipping-method-table{
        overflow-x: auto;
    }

    /*shop pahe*/
    .gl-img-content {
        bottom: 10px;
    }
    .gl-productu-slider-button button{
        width: 100%;
    }
    .gl-select-shirt-sec {
        padding: 60px 15px 90px 15px;
    }
    .style-input button{
        width: 90px;
    }
    .checkout-form {
        padding: 40px 0px 60px 0px;
    }
    .checkout-items-sec {
        padding: 40px 15px;
    }
    .shipping-sec-parent {
        padding: 40px 0px;
    }
    .profile-accont {
        padding: 30px 0px 80px;
    }
    .gl-shirt-size  ul li{
        text-align: left;
    }
    .gl-shirt-size .checkcontainer{
        padding-bottom: 30px;
    }
    .gl-shirt-size {
        padding-bottom: 0px;
    }
    .gl-shirt-color-name{
        margin-bottom: 20px;
    }
    .res-design-radio{
        display: none;
    }
    .reviews-button .tablink {
        width: 33%;
    }
    .revies-row{
        margin-right: 15px;
        margin-left: 15px; 
    }
    .gl-product-slider-heading h1{
        line-height: 29px;
    }
    .brand-part-two{
        margin-bottom: 30px !important;
    }
    .gl-parent-new-div{
        margin-bottom: 25px !important;
    }
    .gl-parent-new-div-res{
        margin-bottom: 0px !important;
    }
    .brand-part-two-res{
        margin-bottom: 0px !important;
    }
    .radio-color-style{
        top: 0;
    }
    .gl-shirt-color-two .checkcontainer{
        margin-bottom: 40px;
    }
    .gl-brand-heading{
        padding: 30px 30px !important;
    }

    /*homepage*/

    .gl-about-header{
        padding: 0px 30px;
    }
    .gl-content-paragraph-div {
       padding-left: 0%;
    }
    .last-blog-parent {
         margin-bottom: 0PX !important;
    }
    .gl-count-img-two {
       height: 9%;
    }
    .gl-count-img {
    height: 10%;
    }
    .gl-column-last{
        margin-bottom: 0px;
    }
    .slider-img:after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    left: 0px;
    top: -14px;
    background-image: url(../img/komas.png);
    background-size: 65% 47%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    }
    .login-popup-two {
        width: 80% !important;
    }
    .btn-info{
        width: auto;
    }
    .gl-sub-header{
        display: none;
    }
    .gl-column-last-res{
        margin-bottom: 30px;
    }
    .gl-column-last-res-common{
        margin-bottom: 0px;
    }
    .gl-partner-heading h1:before {
    left: 32%;
    }
}

@media screen and (max-width: 354px){
    .gl-select-buttons .dropdown{
        width: 100%;
    }
    .gl-select-buttons .dropdown button{
        width: 100%;
    }
}
@media screen and (max-width: 1920px) and (min-width: 1280px){
    .gl-need-homepage3{
        padding: 200px 0px;
    }
}




















